@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: white;
    
}

.canvasT{
    transform: scale(2)
}

.blur{
    filter: blur(20px);
}

.disabled{
    pointer-events: none;
    background-color: #ccc;
    color: #666;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .isHidden{
    display: none;
  }